<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.leangen.graphql.samples.mapper.CasAreaMapper">
    <resultMap id="resultMap" type="io.leangen.graphql.samples.model.DTO.CasAreaMapDTO">
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="areaName"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
    </resultMap>
    <select id="queryAll" resultMap="resultMap">
        select uuid,name,code,pid from cas_area
    </select>
</mapper>